

.details-container {
    display: inline-block;
    border: 1px solid #dbdde6;
    box-shadow: 0 0 6px rgba(72, 72, 72, 0.15);
    border-radius: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 425px;
    background-color: white;
}

.details-container img {
    margin-bottom: -40px;
    width: 180px;
    height: 180px;
}

.details-dataCard-container {
    display: flex;
    margin: 19px 23px 19px 23px;
}

.details-titleCard {
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    color: rgb(24, 24, 24);
}


.details-numberCard {
    position: absolute;
    display: flex;
    margin-left: 350px;
    margin-top: -165px;
    font-weight: 600;
    color: #303030;
    font-size: 21px;
    font-weight: 800;
}

.details-about {
    display: block;
    color: rgb(24, 24, 24);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

.details-aboutContent {
    display: flex;
    align-items: center;
    margin: 20px;
    flex: 1;
    gap: 10px;
}

.details-aboutDiv {
    text-align: center;
    width: 30%;
}

.details-aboutDivMoves {
    margin-top: -10px;
    text-align: center;
    width: 30%;
}

.details-aboutP {
    color: rgb(24, 24, 24);
    text-align: center;
    flex: 1;
    align-items: baseline;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.details-aboutTitle {
    color: rgb(134, 134, 134);
    text-align: center;
    flex: 1;
    align-items: baseline;
    margin-top: 10px;
    font-size: 16.5px;
}

.details-stats {
    display: block;
    color: rgb(24, 24, 24);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 22px;
}

.details-stat {
    display: flex;
    margin: 10px 35px;
}

.details-statLast {
    display: flex;
    margin: 10px 35px 30px 35px;
}

.statTitle {
    font-weight: 600;
    margin-right: 10px;
    width: 13%;
    margin-left: -5px;
}

.progress {
    display: inline-block;
    flex: 1;
    margin-top: 5px;
}

.statNumber {
    display: inline-block;
    width: 9%;
}


// IMG CONTAINER TYPES

.detailsImgContainer-normal {
    @include detailsImgContainer(#A8A878);
}

.detailsImgContainer-fighting {
    @include detailsImgContainer(#C03028);
}

.detailsImgContainer-flying {
    @include detailsImgContainer(#A890F0);
}

.detailsImgContainer-poison {
    @include detailsImgContainer(#A040A0);
}

.detailsImgContainer-ground {
    @include detailsImgContainer(#E0C068);
}

.detailsImgContainer-rock {
    @include detailsImgContainer(#B8A038);
}

.detailsImgContainer-bug {
    @include detailsImgContainer(#A8B820);
}

.detailsImgContainer-ghost {
    @include detailsImgContainer(#705898);
}

.detailsImgContainer-steel {
    @include detailsImgContainer(#B8B8D0);
}

.detailsImgContainer-fire {
    @include detailsImgContainer(#F08030);
}

.detailsImgContainer-water {
    @include detailsImgContainer(#6890F0);
}

.detailsImgContainer-grass {
    @include detailsImgContainer(#78C850);
}

.detailsImgContainer-electric {
    @include detailsImgContainer(#F8D030);
}

.detailsImgContainer-psychic {
    @include detailsImgContainer(#F85888);
}

.detailsImgContainer-ice {
    @include detailsImgContainer(#98D8D8);
}

.detailsImgContainer-dragon {
    @include detailsImgContainer(#7038F8);
}

.detailsImgContainer-dark {
    @include detailsImgContainer(#705848);
}

.detailsImgContainer-fairy {
    @include detailsImgContainer(#EE99AC);
}

.detailsImgContainer-unknown {
    @include detailsImgContainer(#68A090);
}

.detailsImgContainer-shadow {
    @include detailsImgContainer(#705898);
}