@import "../utils/variables.scss";

.pokeball {
    width: 35px;
    margin-bottom: -6px;
    margin-right: 5px;
}

.main {
    margin: 0px 40px;
}

body {
    background-color: #f6f7fb;
}

h1 {
    font-weight: 800;
}