@import "../utils/variables.scss";

.pokeball {
    width: 35px;
    margin-bottom: -6px;
    margin-right: 5px;
}

.main {
    margin: 0px 20px;
}

body {
    background-color: #f6f7fb;
}

h1 {
    font-weight: 800;
    color: rgb(55, 55, 55);
    margin-bottom: -8px;
}

@media (min-width: 560px) {
    .main {
        margin: 0px 40px;
    }
  }