@import "../utils/variables.scss";

.nav{
    width:100%;
    margin: 6px 0;


    &>input{
        display: none;
    }

    &>input:checked~ul{
        display: flex;
    }

    &>ul{
        position:absolute;
        left:0;
        width:100%;
        text-align: center;
        list-style-type: none;
        display: none;
        background-color: #eaedf6;

        &>li{
            padding:16px;

        
            &:hover{
                background-color: #d7d9e4;

                & a{
                    color: black;
                    display:block;
                    height:100%;
                    width:100%;
                }
            }
        }
    }
}

.pokedex {
    width: 85px;
    margin: 5px 220px -2px 15px;
}


@media only screen and (min-width:$ipad-breakpoint){
    .nav{
        &>label{
            display:none;
        }

        &>ul{
            position:static;
            display:flex;
            justify-content: right;
            
        }
    }

    .ulNav {
        margin-top: -10px;
    }

    .pokedex {
        width: 85px;
        margin: 0 0 -33px 15px;
    }
}